@import "tailwindcss";
html {
  font-size: 18px;
  display: flex;
  align-content: center;
  justify-content: center;
}
h1 {
  font-size: 3.11rem !important;
}

h2 {
  font-size: 2rem;
}

h3, h4, h5, h6 {
  font-size: 1.45rem;
}

.picture {
    background-image: url("./images/sascha-3.webp") !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 65%;
    height: auto;
}

.con-pic {
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

#intro {
    width: 65%;
    margin-bottom: 60px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Work Experience */
.box10 {
    display: flex;
    height: auto;
    width: 100%;
    gap: 40px;
    flex-direction: wrap;
}

@media only screen and (max-width: 1210px) {
  .box10 {
    flex-direction: column;
  }
}

@media only screen and (max-width: 425px) and (min-width: 300px) {
  header #homepage-icon {
    display: none;
  }

  header {
    justify-content: center;
    align-content: center;
  }
}

.can {
    width: 330px;
    height: 370px;
    padding: 20px;
    color: white;
    background: linear-gradient(#212121, #212121) padding-box,
      linear-gradient(145deg, transparent 35%, #0a89a8, #252e31) border-box;
    border: 2px solid transparent;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transform-origin: top bottom;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .can .main-content {
    flex: 1;
  }
  
  .can .header span:first-child {
    font-weight: 600;
    color: #717171;
    margin-right: 4px;
  }
  
  .can .heading {
    font-size: 24px;
    margin: 24px 0 16px;
    font-weight: 600;
  }
  
  .can .categories {
    display: flex;
    gap: 10px;
  }
  
  .can .categories span {
    background-color: #0a89a8;
    padding: 4px 8px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 50em;
  }
  
  .can .footer {
    font-weight: 600;
    color: #717171;
    margin-right: 4px;
  }
  
  .can:hover {
    rotate: -6deg;
  }

  .education {
    font-size: 24px;
  }

  .education h4, h5, h6 {
    margin: 0px;
    font-weight: 400;
  }

  .education h6 {
    margin-bottom: 40px;
  }

  .contact h2, h4 {
    font-size: 24px;
  }

  .contact h4 {
    font-size: 20px;
    font-weight: 300;
  }

  .education {
    margin-bottom: 20px;
  }

  .contact {
    margin-bottom: 40px;
  }
  
  ul {
    margin-bottom: 40px;
  }
  
  .picture {
    margin-bottom: 40px;
    border-radius: 5%;
  }

  /* Comment */ 
  button {
 position: relative;
 display: inline-block;
 cursor: pointer;
 outline: none;
 border: 0;
 vertical-align: middle;
 text-decoration: none;
 background: transparent;
 padding: 0;
 font-size: inherit;
 font-family: inherit;
}

button.learn-more {
 width: 12rem;
 height: auto;
}

button.learn-more .circle {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: relative;
 display: block;
 margin: 0;
 width: 3rem;
 height: 3rem;
 background: #282936;
 border-radius: 1.625rem;
}

button.learn-more .circle .icon {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 bottom: 0;
 margin: auto;
 background: #fff;
}

button.learn-more .circle .icon.arrow {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 left: 0.625rem;
 width: 1.125rem;
 height: 0.125rem;
 background: none;
}

button.learn-more .circle .icon.arrow::before {
 position: absolute;
 content: "";
 top: -0.29rem;
 right: 0.0625rem;
 width: 0.625rem;
 height: 0.625rem;
 border-top: 0.125rem solid #fff;
 border-right: 0.125rem solid #fff;
 transform: rotate(45deg);
}

button.learn-more .button-text {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 padding: 0.75rem 0;
 margin: 0 0 0 1.85rem;
 color: #282936;
 font-weight: 700;
 line-height: 1.6;
 text-align: center;
 text-transform: uppercase;
}

button:hover .circle {
 width: 100%;
}

button:hover .circle .icon.arrow {
 background: #fff;
 transform: translate(1rem, 0);
}

button:hover .button-text {
 color: #fff;
}

.button-text:hover a {
  color: white;
  transition: 0.45s;
}